<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nicholasanton.myapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:name="android.permission.WRITE_CALENDAR" />
    <permission android:name="android.permission.READ_CALENDAR" />
    <permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="dangerous" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".Applications.ActivityTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".Views.DebugConsole">
        </activity>
        <activity android:name=".Views.LockedScreen">
        </activity>
        <activity android:name=".Views.DrivingOptions">
        </activity>
        <activity android:name=".Views.CyclingOptions">
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDESgnI7omKhAH3WLeYiS46CajJI4m_q4A" />

        <activity android:name=".Views.Register" />
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <service android:name=".ActivityRecognizedService" /> -->
        <activity android:name=".Views.WalkingOptions" />

        <service
            android:name=".Services.Walking_Policy_Service"
            android:exported="false" />

        <receiver
            android:name=".Recievers.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Recievers.IncomingCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <!--
 <receiver android:name=".NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.example.nicholasanton.myapplication.previous" />
                <action android:name="com.example.nicholasanton.myapplication.delete" />
                <action android:name="com.example.nicholasanton.myapplication.pause" />
                <action android:name="com.example.nicholasanton.myapplication.next" />
                <action android:name="com.example.nicholasanton.myapplication.play" />
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".Views.MapActivity">
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Views.ActivitesListeners"
            android:launchMode="singleTop" />

        <service android:name=".Services.TextToSpeechService" />
        <service android:name=".Services.AutoReplyService" /> <!-- <service android:name=".SaveResourcesService" /> -->
        <service android:name=".Services.pedometerService" />
        <service android:name=".Services.Cycling_Policy_Service" />

        <activity android:name=".Views.RunningOptions" />

        <service android:name=".Services.Running_Policy_Service" />
        <service android:name=".Services.MapService" />
        <service android:name=".Services.Driving_Policy_Service" />
        <service android:name=".Services.SpeedAndDistance" />
        <service android:name=".Services.bedtimeRoutineService"/>
        <service android:name=".Services.getTheWeather"/>
        <service
            android:name=".Services.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myapplication.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service android:name=".Services.Timer_Service" />
        <service android:name=".Services.TrackingService" />
        <service android:name=".ActivityRecognizerImpl$ActivityRecognitionIntentService" />
        <service android:name=".Services.googleCalendarService" />
        <service android:name=".Services.DebugService"/>
        <service android:name=".Services.LocationTrack"/>
    </application>

</manifest>